<modal-form-generico #md [model]="this.model" titulo="Producto">
<div card-body>
	
		<div class="form-group ">
			<label class="control-label" for="input">Name<span
				class="required">*</span>
			</label> <input class="form-control " name="name" type="text"
				[(ngModel)]="md.object.name" required="required" required />

		</div>
		<div class="form-group">
			<label>Category</label> <select class="form-control  custom-select"
				name="category" [(ngModel)]="md.object.category" required>
				<option *ngFor="let item of categorias" value="{{item.nombre}}">
					{{item.nombre}}</option>

			</select>
		</div>
		<div class="form-group">
			<label>Price</label>
			<div class="form-group">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">$</span>
					</div>
					<input class="form-control" name="price"
						[(ngModel)]="md.object.price" required pattern="^[0-9\.]+$"
						aria-label="Amount (to the nearest dollar)">
				</div>
			</div>
		</div>
	
</div>
<div card-footer>
	
</div>
</modal-form-generico>