<tabla-generica #tb [model]="this.model" [columnas]="this.columnas" titulo="prueba generica">
	<ng-template let-item let-i="index">
		<tr>
			<th scope="row">{{i + 1 + ((tb.selectedPage - 1) * tb.itemsPerPage)}}</th>
			<td style="vertical-align: middle">{{item.id}}</td>
			<td style="vertical-align: middle">{{item.name}}</td>
			<td style="vertical-align: middle">{{item.category}}</td>
			<td style="vertical-align: middle">{{item.price | currency:"USD":"symbol" }}</td>
			<td class="text-center">
				<i class="material-icons verde" aria-hidden="true " data-placement="top " title="Editar"
					data-toggle="modal" data-target="#modalForm" 
						(click)="tb.editItem(item.id)">edit</i> 
				<i class="material-icons rojo" aria-hidden="true " data-toggle="tooltip " data-placement="top "
				title="Eliminar" (click)="tb.deleteItem(item.id)">delete_forever</i>
			</td>
		</tr>
	</ng-template> 
</tabla-generica>

<modal-form></modal-form>



