<div class="row">
	<div class="col-3">
		<button class="btn btn-secondary btn-block" routerLink="/"
			routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">All</button>

		<button *ngFor="let category of categories"
			class="btn btn-secondary btn-block"
			[routerLink]="['/product/table', category]" routerLinkActive="active">
			{{category}}</button>
	</div>
	<div class="col-9">
		<div class="card">
			<div class="card-header">
				<i class="material-icons icon-title">assignment</i>
			</div>
			<div class="card-title">
				<h3>Productos</h3>

				<div class="actualizar">
					<i class="material-icons azul	 updateIcon"
						[title]="'Actualizar Datos'" (click)="actualizarProductos()">cached</i>
				</div>

				<div class="nuevo">
					<i class="material-icons verde updateIcon"
						[title]="'Nuevo Producto'" data-toggle="modal"
						data-target="#exampleModal" (click)="createProduct()">note_add</i>
				</div>

				<div class="input-group search pull-right">

					<span class="input-group-addon">
					 	<i class="material-icons">search</i>
					</span> 
					<input type="text" class="form-control" placeholder="Filtro 1" [(ngModel)]="filter">
				
					<span class="input-group-addon"> 
						<i class="material-icons">search</i>
					</span>					
					<input type="text" class="form-control" placeholder="Filtro 2" [(ngModel)]="filter2">
				</div>				

			</div>

			<div class="card-content">

				<table class="table table-striped table-sm">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th (click)="sort('id')">ID <i class="material-icons"
								*ngIf="key =='id'" title="Ordenar por Id">{{reverse?'keyboard_arrow_up':'keyboard_arrow_down'}}</i>
							</th>
							<th (click)="sort('name')">Name <i class="material-icons"
								*ngIf="key =='name'" title="Ordenar por Nombre">{{reverse?'keyboard_arrow_up':'keyboard_arrow_down'}}</i>
							</th>
							<th (click)="sort('category')">Category <i
								class="material-icons" *ngIf="key =='category'"
								title="Ordenar por Categoria">{{reverse?'keyboard_arrow_up':'keyboard_arrow_down'}}</i>
							</th>
							<th (click)="sort('price')">Price <i class="material-icons"
								*ngIf="key =='price'" title="Ordenar por Precios">{{reverse?'keyboard_arrow_up':'keyboard_arrow_down'}}</i>
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr
							*ngFor="let item of getProducts() | orderBy: key : reverse | filter:filter | filter:filter2| paginate: { itemsPerPage: productsPerPage, currentPage: selectedPage	 }; let i = index; ">
							<th scope="row">{{((this.selectedPage - 1) *
								this.productsPerPage) + i + 1}}</th>
							<td style="vertical-align: middle">{{item.id}}</td>
							<td style="vertical-align: middle">{{item.name}}</td>
							<td style="vertical-align: middle">{{item.category}}</td>
							<td style="vertical-align: middle">{{item.price |
								currency:"USD":"symbol" }}</td>
							<td class="text-center"><i class="material-icons verde"
								aria-hidden="true " data-placement="top " title="Editar"
								data-toggle="modal" data-target="#exampleModal"
								(click)="editProduct(item.id)">edit</i> <i
								class="material-icons rojo" aria-hidden="true "
								data-toggle="tooltip " data-placement="top " title="Eliminar"
								(click)="deleteProduct(item.id)">delete_forever</i></td>
						</tr>
					</tbody>

				</table>

			</div>
			<div class="card-footer">
				<div class="boton">
					<button class="botonMaterial" data-toggle="modal"
						data-target="#exampleModal" (click)="createProduct()">
						<i class="material-icons add">add</i>
					</button>
				</div>
				<div class="form-inline float-left m-r-1">
					<select class="form-control" [value]="productsPerPage"
						(change)="changePageSize($event.target.value)">
						<option value="15">15 por Page</option>
						<option value="30">30 por Page</option>
						<option value="50">50 por Page</option>
						<option value="80">80 por Page</option>
					</select>
				</div>
				<div class="btn-group float-right">
					<pagination-controls (pageChange)="selectedPage = $event"></pagination-controls>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12 p-t-1">
		<button class="btn btn-primary" routerLink="/product/form/create">
			Create New Product</button>
		<button class="btn btn-danger" (click)="deleteProduct(-1)">
			Generate HTTP Error</button>
		<button class="btn btn-danger" routerLink="/does/not/exist">
			Generate Routing Error</button>
		<button class="btn btn-danger" routerLink="/ondemand">Load
			Module</button>

	</div>
</div>

<paForm></paForm>



